:root {
  --background-color: #cb021c;
  --text-color: white;
}
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.hamburger {
  position: fixed;
  top: 2.1rem;
  left: 2rem;
  font-size: 3rem;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hamburger:hover {
  transform: scale(0.9);
}
.phone {
  position: fixed;
  top: 2.1rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--text-color);
  cursor: pointer;
}
header {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footstep {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-size: 3rem;
  margin: 0 auto;
}
.header-text h1 {
  font-size: 2.54rem;
  font-weight: 300;
  color: var(--text-color);
  text-align: center;
}
.header-text p {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #1f1f1f;
  font-size: 1.7rem;
  font-weight: 800;
}
.right-arrow {
  position: fixed;
  top: 51%;
  right: 2.23rem;
  font-size: 5rem;
  color: #1f1f1f;
  opacity: 0.6;
  cursor: pointer;
}
.left-arrow {
  position: fixed;
  top: 51%;
  left: 2.23rem;
  font-size: 5rem;
  color: #1f1f1f;
  opacity: 0.6;
  cursor: pointer;
}

main {
  width: 100%;
  margin-top: 170px;
}
.slider-container {
  overflow: hidden;
  height: 450px;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.slide {
  position: absolute;
  transition: 0s ease-in-out all;
  width: 100%;
  height: 100%;
}
.slide {
  transform: translateX(0);
}
.slide h1 {
  color: var(--text-color);
  font-size: 4rem;
  margin-top: -2rem;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(2) {
  left: 100%;
}

.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(4) {
  left: 300%;
}
img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  background-color: yellow;
}
/* sidebar */
.side-bar {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 30vw;
  left: -100%;
  background-color: aliceblue;
  z-index: 5000;
  transition: 0.2s ease-in-out all;
}
.div1 {
  display: flex;
  margin: 1rem auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.close {
  font-size: 3rem;
  right: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.close:hover {
  transform: rotate(-90deg) scale(0.9);
  color: rgb(219, 89, 89);
}
.side-bar ul {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  flex-direction: column;
  list-style-type: none;
}
/* .side-bar li {
  all: unset;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
} */
/* .side-bar li:hover {
  background-color: #1f1f1f;
  color: whitesmoke;
  padding-left: 1.25rem;
} */
.side-bar a {
  display: block;
  width: 100%;
  color: hsl(210, 22%, 49%);
  padding: 1rem 1.5rem;
  font-size: 2rem;
  text-transform: capitalize;
  transition: 0.4s all ease-in-out;
}
.side-bar a:hover {
  background-color: #d67979;
  color: whitesmoke;
  padding-left: 1.75rem;
}
/* end sidebar */
